:root {
  --primary: #4D96FF;
  --primary-dark:#2D83FF;
  --secondary:#FF6B6B;
  --seconday-dark:#FF3D3D;
  --negro: #262626;
  --blanco: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
}
img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 110rem;
  margin: 0 auto;
  width: 90%;
}
[class*="heading"] {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  color: var(--negro);
  margin: 5rem 0;
}
