.header{
    background-color: var(--blanco);
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.menuLink{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;    
    position: absolute;
    top: 104px;
    opacity: 1;
    transition: all 0.5s ease; 
    left: -100%; 
}
.menuLink a{
    text-decoration: none;
    color: var(--blanco);
    padding: 30px;
    
}

.menuLink.active{
    background-color: var(--negro); 
    transition: all 0.5s ease;
    opacity: 1; 
    left: 0%; 
    z-index: 1;
}

.menuBars{
    display: block;
}
@media (min-width:1024px){
    .menuLink{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 45%;
        left: 0%;
        position: relative;
        top: 0px;
        gap: 1rem;
    }
    .menuLink a{
        position: relative;
        color: var(--negro);
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 700;
        padding: .5rem;
        transition-property: background-color;
        transition-duration: .2s;
    }
    .menuLink a:after{
        content: "";
        position: absolute;
        background-color: var(--secondary);
        height: 2px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    .menuLink a:hover:after{
        width: 100%;
    }
    .menuLink a:hover{
        background-color: transparent;
    }
    .menuBars{
        display: none;
    }
    .menuBars img{
        border-color: aliceblue;
    }
}
